@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


:root{

    /*Tipography*/
    --font-family-base: "Source Sans 3", sans-serif;
    --font-family-headings: "Source Serif 4", serif;
    --font-size-base: 16px;
    --font-size-h1: 2.986rem;
    --font-size-h2: 2.488rem;
    --font-size-h3: 2.074rem;
    --font-size-h4: 1.728rem;
    --font-size-h5: 1.44rem;
    --font-size-h6: 1.2rem;
    --font-size-description: 1.1rem;
    --font-size-small: 0.833rem;
    --line-height-small: 1.5;

    /*Theme*/
    --primary-brand: #64ffda;
    --primary-contrast: #020303;
    --primary-bg: #00a881;
    --primary-dark: #00664e;
    --primary-dark-min: #008566;
    --primary-light: #99ffe7;
    --primary-light-min: #66ffdb;

    --secondary-brand: #f29175;
    --secondary-contrast: #030202;
    --secondary-bg: #ee6d49;
    --secondary-dark: #5d1b09;
    --secondary-dark-min: #d63e14;
    --secondary-light: #f6b4a2;
    --secondary-light-min: #f28f73;
    
    /*Constants*/
    font-size: var(--font-size-base);
    --text-color: #0b0e0d;
    --page-bg: #ffffff;
    --primary-accessible: var(--primary-dark-min);
    --secondary-accessible: var(--secondary-dark-min);
    --accent-color: var(--secondary-accessible);
    accent-color: var(--accent-color);
    --minimus-clicable-area: 44px;
    --link-color: var(--primary-accessible);
    --link-color-hover: var(--primary-dark);
    --spacing-ingline: 30px;
    --base-transition: all 0.2s;
    --base-gap: 30px;
    --big-gap: 30px;

    --radius-xl: 20px;
    --radius-sm: 4px;

    --tablet-break: 768px;
    --laptop-break: 992px;
    --desktop-break: 1200px;
}


.image-theme .dark{
    display: none;
}
.image-theme .light{
    display: block;
}


*{
  accent-color: var(--accent-color)!important;
}

*:focus,
*:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px
}

::selection {
    background-color: var(--secondary-light);
    color: color-mix(in srgb, var(--secondary-brand), var(--text-color) 80%);

}

ul.unstyled-list{
    padding-left: unset;
    list-style-type: none;
}


@media (prefers-color-scheme: dark) {
    :root {
      /* Variables per al mode fosc */
        --page-bg: #121212;
        --text-color: #ffffff!important;
        --header-bg: black;
        --primary-accessible: var(--primary-light-min);
        --secondary-accessible: var(--secondary-light-min);
        --link-color-hover: var(--primary-light);

    }
    .image-theme .dark{
        display: block;
    }
    .image-theme .light{
        display: none;
    }

    ::selection {
        background-color: var(--secondary-dark);
    }
}

@media (min-width: var(--tablet-break)) {
    :root{
        --spacing-ingline: 75px;
        --big-gap: 50px;

    }
}

/*Laptop*/
@media (min-width: 992px) {
    :root{
        --spacing-ingline: 165px;
        --font-size-base: 18px;
        --big-gap: 80px;

    }
}

/*Desktop*/
@media (min-width: 1200px) {
    :root{
        --big-gap: 100px;
    }
}


button, .btn, input,select{
    min-height: var(--minimus-clicable-area);
    min-width: var(--minimus-clicable-area);
} 

body{
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    margin: 0;
    color: var(--text-color);
    background: var(--page-bg);
    -webkit-font-smoothing: antialiased;
    
}

body:has(header.custom-header:not(.fixed)){
    margin-top: 200px;
}

a{
    text-decoration: none;
    color: var(--link-color);
    transition: var(--base-transition);
}

a:hover{
    text-decoration: underline;
    color: var(--link-color-hover);
}

a.btn{
    padding: 12px 24px;
    background-color: var(--brand-primary);
    color: var(--brand-primary-contrast);
    border-radius: var(--border-radius);
    transition: all 0.2s;
    width: fit-content;
 }

a.btn:hover,
a.btn:focus,
a.btn:hover:focus{
    padding: 12px 24px;
    text-decoration: underline;
    border-radius: var(--border-radius);
    box-shadow: var(--base-shadow);
}


.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: bold;
    font-family: var(--font-family-headings);
    margin: unset;
}
.font-heading{    font-family: var(--font-family-headings)!important;}
.font-base{    font-family: var(--font-family-base)!important;}
.font-regular{  font-weight: normal!important;}
.font-bold{  font-weight: bold!important;}
.font-light{  font-weight: light!important;}
h1, .h1{
    font-size: var(--font-size-h1);
}
h2, .h2{
    font-size: var(--font-size-h2);
}
h3, .h3{
    font-size: var(--font-size-h3);
}
h4, .h4{
    font-size: var(--font-size-h4);
}
h5, .h5{
    font-size: var(--font-size-h5);
}
h6, .h6{
    font-size: var(--font-size-h6);
}
.description{
    font-size: var(--font-size-description);
    font-weight: normal;
    opacity: 0.8;
    margin: 0;
}
.text-primary-AA{
    color: var(--primary-accessible);
}

a#main-redirection:focus{
    z-index: 10000;
    top: 10px;
    left: 10px;
    background-color: var(--page-bg);
    width: fit-content;
    height: fit-content;
    clip: unset;
}

/* Header */
header{
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
header a#site-logo{
    color: var(--text-color);
}
header a#site-logo:hover,
header a#site-logo:focus{
    color: var(--link-color);
    text-decoration: unset;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
}




/*Main*/
body.portada main{
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
}
body.portada main section{
    padding-inline: var(--spacing-ingline);
}
body.portada main section#splash-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--big-gap);
}
body.portada main section#splash-section img{
    aspect-ratio: 1;
    border-radius: var(--radius-xl);
    max-width: 500px;
}
body.portada main section#projects ul#projects-list{
    display: flex;
    flex-direction: column;
    gap: var(--base-gap);
}

body.portada main section#projects ul#projects-list .project-item-image{
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: var(--radius-xl);
}
body.portada main section#projects ul#projects-list .project-item-name{
}
body.portada main section#projects ul#projects-list .project-item-description{
}

/*Tablet*/
@media (min-width: 768px) {
    body.portada main section#projects ul#projects-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Laptop*/
@media (min-width: 992px) {
    body.portada main section#projects ul#projects-list{
        grid-template-columns: repeat(3, 1fr);
        
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    body.portada main section#projects ul#projects-list{
        grid-template-columns: repeat(4, 1fr);
    }
}

/*Footer*/


