@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');


:root{

    /*Tipography*/
    --font-family-base: "Atkinson Hyperlegible Next", sans-serif;
    --font-family-headings: "Atkinson Hyperlegible Next", sans-serif;
    --font-size-base: 16px;
    --font-size-h1: 2.986rem;
    --font-size-h2: 2.488rem;
    --font-size-h3: 2.074rem;
    --font-size-h4: 1.728rem;
    --font-size-h5: 1.44rem;
    --font-size-h6: 1.2rem;
    --font-size-description: 1.1rem;
    --font-size-small: 0.833rem;
    --line-height-small: 1.5;

    /*Theme*/
    --primary-brand: #64ffda;
    --primary-contrast: #020303;
    --primary-bg: #00a881;
    --primary-dark: #00664e;
    --primary-dark-min: #008566;
    --primary-light: #99ffe7;
    --primary-light-min: #66ffdb;

    --secondary-brand: #f29175;
    --secondary-contrast: #030202;
    --secondary-bg: #ee6d49;
    --secondary-dark: #5d1b09;
    --secondary-dark-min: #d63e14;
    --secondary-light: #f6b4a2;
    --secondary-light-min: #f28f73;
    
    /*Constants*/
    font-size: var(--font-size-base);
    --text-color: #0b0e0d;
    --page-bg: #ffffff;
    --primary-accessible: var(--primary-dark-min);
    --secondary-accessible: var(--secondary-dark-min);
    --accent-color: var(--secondary-accessible);
    accent-color: var(--accent-color);
    --minimus-clicable-area: 44px;
    --link-color: var(--primary-accessible);
    --link-color-hover: var(--primary-dark);
    --spacing-ingline: 30px;
    --layout-max-width: 100%;
    --base-transition: all 0.2s;
    --base-gap: 30px;
    --big-gap: 80px;
    --base-shadow: 0 0 10px color-mix(in srgb, var(--text-color) 16%, transparent);

    --radius-xl: 20px;
    --radius-sm: 4px;

    --tablet-break: 768px;
    --laptop-break: 992px;
    --desktop-break: 1200px;
}
p{
    margin-top: 0;

}
strong{
    color: var(--primary-accessible);
    font-weight: 800;
}


.image-theme .dark{
    display: none;
}
.image-theme .light{
    display: block;
}


*{
  accent-color: var(--accent-color)!important;
}

*:focus,
*:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px
}

::selection {
    background-color: color-mix(in srgb, var(--secondary-light), transparent 50%);

}

ul.unstyled-list{
    padding-left: unset;
    list-style-type: none;
}


body.dark{
        /* Variables per al mode fosc */
        --page-bg: #121212;
        --text-color: #ffffff!important;
        --header-bg: black;
        --primary-accessible: var(--primary-light-min);
        --secondary-accessible: var(--secondary-light-min);
        --link-color-hover: var(--primary-light);
}
body.dark .image-theme .dark{
    display: block;
}
body.dark .image-theme .light{
    display: none;
}

body.dark ::selection {
    background-color: color-mix(in srgb, var(--secondary-dark), transparent 50%);
}

#toggleDark{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid transparent;
    color: var(--primary-accessible);
    border-radius: 100px;
    cursor: pointer;
    font-size: var(--font-size-h6);
}

#toggleDark .fa-sun{
    display: none;
}

body.dark #toggleDark .fa-sun{
    display: unset;
}
body.dark #toggleDark .fa-moon{
    display: none;
}

#toggleDark:hover,
#toggleDark:active{
    border-color: var(--link-color-hover);
    color: var(--link-color-hover);
}


@media (min-width: 768px) {
    :root{
        --spacing-ingline: 75px;
        --big-gap: 50px;

    }
}

/*Laptop*/
@media (min-width: 992px) {
    :root{
        --spacing-ingline: 165px;
        --font-size-base: 18px;
        --big-gap: 80px;

    }
}

/*Desktop*/
@media (min-width: 1200px) {
    :root{
        --big-gap: 100px;
    }
}

/*Desktop XL*/
@media (min-width: 3840px) {
    :root{
        --big-gap: 100px;
        --layout-max-width: 3600px;
    }
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    :root{
        --base-transition: all 0!important;
    }
    html {
        scroll-behavior: unset!important;
    }
}

.language-selector a{
    font-weight: 300;
}

.language-selector a[aria-selected="true"]{
    font-weight: 900;
}

.language-selector ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button, input,select{
    min-height: var(--minimus-clicable-area);
    min-width: var(--minimus-clicable-area);
} 

body{
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    margin: 0;
    color: var(--text-color);
    background: var(--page-bg);
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    
}

body:has(header.custom-header:not(.fixed)){
    margin-top: 200px;
}

a{
    text-decoration: none;
    color: var(--link-color);
    transition: var(--base-transition);
}

a span{
    color: var(--link-color);
}

header a,
header a span{
    color: var(--primary-accessible);
}

a:hover{
    text-decoration: underline;
    color: var(--link-color-hover);
}
a:hover span{
    color: var(--link-color-hover);
}

.btn{
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
    padding: 8px 16px;
    border-radius: var(--radius-sm);
}
.btn:hover,
.btn:focus{
    background-color: var(--text-color);
    color: var(--page-bg);
}

.btn *{
    color: var(--text-color);
}
.btn:hover *,
.btn:focus *{
    color: var(--page-bg);
}

.btn-primary{
    background-color: var(--primary-brand);
    border-color: var(--primary-brand);
    color: var(--primary-contrast);
}
.btn-primary *{
    color: var(--primary-contrast);
}
.btn-primary:hover,
.btn-primary:focus{
    background-color: var(--link-color-hover);
    color: var(--page-bg);
}

.btn-primary:hover *,
.btn-primary:focus *{
    color: var(--page-bg);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: bold;
    font-family: var(--font-family-headings);
    margin: unset;
}
.font-heading{    font-family: var(--font-family-headings)!important;}
.font-base{    font-family: var(--font-family-base)!important;}
.font-regular{  font-weight: normal!important;}
.font-bold{  font-weight: 700!important;}
.font-light{  font-weight: 300!important;}
h1, .h1{
    font-size: var(--font-size-h1);
}
h2, .h2{
    font-size: var(--font-size-h2);
}
h3, .h3{
    font-size: var(--font-size-h3);
}
h4, .h4{
    font-size: var(--font-size-h4);
}
h5, .h5{
    font-size: var(--font-size-h5);
}
h6, .h6{
    font-size: var(--font-size-h6);
}
.description{
    font-size: var(--font-size-description);
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
}
.text-primary-AA{
    color: var(--primary-accessible);
}

a#main-redirection:focus{
    z-index: 10000;
    top: 10px;
    left: 10px;
    background-color: var(--page-bg);
    width: fit-content;
    height: fit-content;
    clip: unset;
}

/* Header */
header{
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--page-bg);
}
header a#site-logo{
    color: var(--primary-accessible);
    font-weight: 800;
}
header a#site-logo:hover,
header a#site-logo:focus{
    color: var(--link-color-hover);
    text-decoration: underline;
}
header nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px;
}
header nav ul li{
    text-align: center;
}
header nav ul li a[aria-selected="true"]{
    font-weight: 700;
}
@media (min-width: 992px) {
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav ul{
        flex-direction: row;
    }
}

/*Main*/
body.portada{
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
    max-width: var(--layout-max-width);
    justify-content: center;
    align-items: stretch;
    position: relative;
}

body:not(.portada) main{
    gap: var(--big-gap);
}

body.portada main section{
    padding-inline: var(--spacing-ingline);
    margin-bottom: var(--big-gap);
}
body.portada main section#splash-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: var(--big-gap);
    row-gap: var(--base-gap);
}

body.portada main section#splash-section #avatarSVG{
    aspect-ratio: 1;
    border-radius: var(--radius-xl);
    object-fit: cover;
    width: 100%;
    background-color: color-mix(in srgb, var(--primary-accessible), var(--page-bg) 90%);
}

@media (min-width: 992px) {
    body.portada main section#splash-section{
        flex-direction: row;
    }
    body.portada main section#splash-section #avatarSVG{
        max-width: 40%;
    }
}

@media (min-width: 1200px) {
    body.portada main section#splash-section #avatarSVG{
        max-width: 40%;
    }
}

body.portada main section#projects{
    background-color: color-mix(in srgb, var(--primary-brand) 10%, var(--page-bg));
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);
}

body.dark.portada main section#projects{
        background-color: color-mix(in srgb, var(--text-color) 3%, var(--page-bg));        
    }

body.portada main section#projects >div{
    margin-bottom: 24px;
}

body.portada main section#projects ul#projects-list{
    display: flex;
    flex-direction: column;
    gap: var(--base-gap);
}
body.portada main section#projects ul#projects-list .project-item{
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--base-transition);
    background-color: var(--page-bg);
    border-radius: var(--radius-xl);
    border-top-left-radius: 40px;
    padding: 20px;
}

body.portada main section#projects ul#projects-list .project-item i{
    color: var(--page-bg);
    background-color: var(--primary-accessible);
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-h3);
    border-radius: 100%;
    margin-bottom: 12px;
    margin-top: -10px;
    margin-left: -10px;
}
body.portada main section#projects ul#projects-list .project-item-description{
    margin: 0;
}

body.portada main section#projects ul#projects-list .project-item a::before{
    content:"";
    position: absolute;
    inset: 0;
}

body.portada main section#projects ul#projects-list .project-item.highlight i{
    background-color: var(--page-bg);
    color: var(--primary-accessible);
}

body.portada main section#projects ul#projects-list .project-item.highlight{
    color: var(--page-bg);
    background-color: var(--primary-accessible);
    box-shadow: var(--base-shadow);
}

/*Tablet*/
@media (min-width: 768px) {
    body.portada main section#projects ul#projects-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


body.portada main section#skills{
    display: flex;
    flex-direction: column;
    gap: var(--base-gap);
}

body.portada main section#skills ul{
    columns: 1;
    margin: 0;
}
body.portada main section#skills ul li{
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 8px;
}

body.portada main section#skills ul i{
    color: var(--primary-accessible);
    margin-right: 4px;
}
@media (min-width: 768px) {
    body.portada main section#skills ul{
        columns: 2;
    }
}
@media (min-width: 992px) {
    body.portada main section#skills{
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    body.portada main section#skills > *{
        flex-grow: 1;
    }
}

body.portada main section#aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: var(--big-gap);
    row-gap: var(--base-gap);
    background-color: color-mix(in srgb, var(--primary-accessible) 20%, var(--page-bg));
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);
    margin-bottom: 0;
}

body:not(.portada) main section#aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: var(--big-gap);
    row-gap: var(--base-gap);
    background-color: color-mix(in srgb, var(--primary-accessible) 20%, var(--page-bg));
    padding: 1rem;
    border-radius: calc(var(--radius-xl) + 1rem);
}

body main section#aboutMe strong{
    color: var(--primary-dark);
}

body main section#aboutMe img{
    aspect-ratio: 1;
    border-radius: var(--radius-xl);
    width: 100%;
    background-color: color-mix(in srgb, var(--primary-accessible) 40%, var(--page-bg));
    object-fit: cover;

}

body main section#aboutMe .info{
    display: flex;
    flex-direction: column;
}

body main section#aboutMe .info a.btn{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}


body.dark main section#aboutMe{
    background-color: color-mix(in srgb, var(--page-bg) 98%, var(--text-color));
}
body.dark main section#aboutMe img{
    background-color: color-mix(in srgb, var(--page-bg) 80%, var(--text-color));
}
body.dark main section#aboutMe strong{
    color: var(--primary-accessible);
}


@media (min-width: 992px) {
    body.portada main section#aboutMe{
        flex-direction: row;
    }
    body:not(.portada) main section#aboutMe{
        flex-direction: row;
    }
    body main section#aboutMe img{
        max-width: 40%;
    }
    body.aboutMe section#aboutMe img{
        aspect-ratio: 1;
        max-width: 250px;
    }
}

@media (min-width: 1200px) {
    body main section#aboutMe img{
        max-width: 40%;
    }
}
/*Footer*/
footer{
    padding: 20px 40px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer > div{
    text-align: center;
}

footer ul{
   margin: 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 8px;
}
footer ul li{

}


@media (min-width: 992px) {
    footer{
        flex-direction: row;
        justify-content: space-between;
    }
    footer > div{
        text-align: start;
    }
}
/*Generic*/
.inline-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: var(--base-gap);
}
body:not(.portada) main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: var(--spacing-ingline);

}

body:not(.portada) h1{
    width: 100%;
}
#breadcrumbs{
    width: 100%;
}
#breadcrumbs ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#breadcrumbs ul li{
    padding-inline: 0.5rem;
}
#breadcrumbs ul li+li{
    border-left: 2px solid color-mix(in srgb, var(--text-color) 40%, var(--page-bg));
}

#breadcrumbs ul li:last-child label{
    font-weight: 700;
}
#breadcrumbs ul li a{
    display: flex;
    gap: 0.25rem;
}


#scroll-up{
    display: flex;
    width: var(--minimus-clicable-area);
    height:  var(--minimus-clicable-area);
    justify-content: center;
    align-items: center;
    position: absolute;

    color: var(--primary-accessible);
    background-color: var(--page-bg);
    border-radius: var(--radius-xl);

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    transition: var(--base-transition);
    opacity: 0.3;
}

#scroll-up:hover,
#scroll-up:focus,
#scroll-up:active{
    opacity: 1;
    background-color: var(--primary-accessible);
    color: var(--page-bg);
    transform: translateY(50%, -5px);
    text-decoration: none!important;
}

@media (min-width: 768px) {
    #scroll-up{
        right: 50%;
        transform: translateX(50%);
    }
    #scroll-up:hover,
    #scroll-up:focus,
    #scroll-up:active{
        transform: translate(50%, -5px);
    }
}

.two-cols{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: calc(var(--base-gap)* 3);
    position: relative;
}
body.aboutMe section#faqs .col{
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
}

@media (min-width: 768px) {
    .two-cols{
        flex-direction: row;
    }
    body.aboutMe section#faqs svg{
            position: sticky;
        top: 0px;
        aspect-ratio: 1;
        min-width: 300px;
    }
}
